.footer {
    color: #000;
    background: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-links {
    list-style: none;
    padding: 5px;
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: #000;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
    color: red;
}

@media (max-width: 374px) {
    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: .5rem;
    }
}